doctype html
html
  head
    title= title
    script(src='//cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(defer, src='//use.fontawesome.com/releases/v5.3.1/js/all.js')
    link(rel='stylesheet', href='/css/pkwd.css')
  body
    div(class="container header-area")
        img(src="/images/pkwd/CrumbPKD.jpg")
        h1 PKWD.T SUMMER GETAWAY
        div(style="display: flex; flex-direction: row; justify-content: center")
            div
                img(src="/images/pkwd/deer.gif" style="height: 150px;")
            div(style="padding-left: 20px; padding-right: 20px;")
                h3 Swimming Deer Retreat
                h4 Woods Lake
                h5 Kalamazoo, Michigan
            div
                img(src="/images/pkwd/deer.gif" style="height: 150px; transform: scaleX(-1)")
        marquee(behavior="scroll" style="background-color: blue; color: white;") Date TBD!!!
    div(class="container body" style="width: 60%; margin: auto")
        p
        | What better way to enjoy the summer than to get out of the big city and spend some time by 
        | a charming glacial lake, discussing not just *one* but *two* books with fellow sci-fi connoisseurs?
        | Significant others are also welcome!
        h1 The Books
        div
            h2 Main Event: 
                i Do Androids Dream of Electric Sheep (
                a(href="https://www.goodreads.com/book/show/13517441-do-androids-dream-of-electric-sheep") Goodreads
                | )
            img(src="/images/pkwd/DoAndroidsDream.png" style="float: left; margin-right: 20px;")
            p The classic itself!
        div(style="clear: both; padding-top: 30px;")
            h2 Local Color:  
                i Phule's Company (
                a(href="https://www.goodreads.com/book/show/505064.Phule_s_Company") Goodreads
                | )
            img(src="/images/pkwd/Bob_asprin.jpg" style="float: left; margin-right: 20px;")
            p
                | You can't go wrong with a selection from the storied subgenre of humorous military sci-fi.
                | The author, Robert Asprin, was a true son of the Wolverine State, born in St. Johns and educated
                | at the University of Michigan. 
            p 
                | This Michigan author also earns PKWD attention from his firm reputation as an 
                a(href="https://en.wikipedia.org/wiki/Science_fiction_fandom") active SF fan
                |.
            p
                a(href="https://en.wikipedia.org/wiki/Robert_Asprin") Read more about Robert Asprin here
                |. 
            img(src="/images/pkwd/phulescompany.png" style="float: right;")
        div(style="clear: both; padding-top: 30px;")
            h1 Events
            ul
                li Spirited discussion of two high-quality science fiction books, detailed above
                li A screening of the original Blade Runner, and maybe the new one as well
                li 
                    | Wading, swimming, and paddleboarding on world-famous 
                    a(href="/") Woods Lake
                    | , original home to 
                    a(href="https://www.kpl.gov/local-history/kalamazoo-history/parks/oakwood-amusement-park-2") "Kalamazoo's Coney Island"
                    |. You may try your hand at sailing if you can help the estate's proprietor to fully reassemble a vintage 
                    a(href="https://en.wikipedia.org/wiki/Sunfish_(sailboat)") Alcort Sunfish 
                    |, which is otherwise used as a large rowboat for grocery runs.
                li 
                    | Field trips to select breweries, including 
                    a(href="http://www.bellsbeer.com/") Bell's 
                    | and 
                    a(href="https://www.onewellbrewing.com/") One Well Brewing
                    |.
        div(style="clear: both; padding-top: 30px;")
            h1 Food and Accommodations
            h2 Sleeping
            p
            | We want your stay to be as comfortable as possible. If you wish to sleep indoors, you are more than welcome to
            | rest in our beautiful library facing the lake, perhaps availing yourself of a classic text while listening to the 
            | wind chimes in the mysterious night. Other possiblities include the living room and east wing offices.
            p 
            | If you are a hardier soul and wish to camp outside on the grounds, 
            | you are more than welcome to do so: we simply recommend that you bring a tent or plan to purchase one at one of the 
            | fine sporting goods establishments in town, and try not to disturb the chickens.
            h2 Eating
            p
            | Weather permitting, much of our food will be cooked over a fire in a giant pot, and enjoyed on the patio or the dock.
            | We also have plenty of great restaurants in town!
            div(style="text-align: center; margin-top: 20px;")
                img(src='/images/pkwd/cooking.png' style="width: 600px;")
        div(style="clear: both; padding-top: 30px;")
            h1 How to get here from Chicago
            p
            | Should you be unable to jaunt or farcast to Kalamazoo, we 
            | recommend travel by automobile or train.
            ul
                li Train: take Amtrak service from Union Station. We will arrange for your conveyance to Swimming Deer from Kalamazoo station.
                li Car: follow I-80 to get through Indiana, then head up to Kalamazoo. If you need to make a pit stop on the way, we highly recommend Sawyer, which features Greenbush Brewery and an excellent garden center.
            div(style="margin-top: 50px; text-align: center;")
                img(src="/images/pkwd/schwarzenegger-deer.gif" alt="This could be you")
                br
                img(src='/images/pkwd/notepad.gif')
                br
                img(src='/images/pkwd/counter.gif' style='margin-top: 20px;')