extends layout

block content
  section(class='section')
    div(class='container')
      div(class='columns')
        div(class='column')
          h1(class='title is-1') About Woods Lake
          h2(class='subtitle is-2') History
          p 
            | Woods Lake is a living memory of the great glaciers that receded thousands of years ago. Like 
            | most of Michigan's lakes, it is a <span style="font-style: italic">kettle lake</span>: as a glacier 
            | carved its way through the land, 
            | it left behind a chunk of ice that became buried in meltwater sediment, ultimately leaving a "kettle"
            | (depression) behind as the ice melted and the sediment sank. The lake was born when groundwater 
            | filled the kettle.
          p
            | Various peoples resided in the Michigan region for thousands of years. The Potawatomi tribe
            | was most prevalent in the Kalamazoo area in the late eighteenth and early nineteenth centuries,
            | when non-native settlers
            | began to enter the area. Subsequent decades saw more land purchases, treaties, and migrations
            | broadly representative of US territorial aims and policies in the period. 
          p 
            | In the late nineteenth and early twentieth centuries, Woods Lake and the surrounding land 
            | played host to a number of recreational establishments, including 
            a(href="https://www.kpl.gov/local-history/kalamazoo-history/parks/oakwood-amusement-park-2/") Oakwood Amusement Park, "Kalamazoo's Coney Island". 
            | However, the lake's days as an entertainment hub drew to a close
            | as automobile ownership accelerated and the post-WWI population sought adventure further from the city. 
          p
            | Today, most of Woods Lake is surrounded by private residences. Woods Lake Park and Kensington Park 
            | provide public access for swimming, boating, and fishing.
          p
            img(src='/images/bary-map-2.png' alt='Barymetric map of Woods Lake (meters)')
        div(class='column')
          img(src='/images/fall-coast.png' alt='Autumn shoreline, looking north')
          img(src='/images/park-with-dock.png')
