extends layout

block content
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
  section(class='section')
    div(class='container')
      div(class='columns')
        div(class='column')
          h1(class='title is-1') Gallery
          div(class='gallery-container')
            div(class='tile is-ancestor')
              div(class='tile is-4 is-vertical is-parent')
                div(class='tile is-child')
                  a(data-fancybox='gallery' href='/images/gallery/fall-west.png')
                      img(src='/images/gallery/fall-west-thumb.png')
                div(class='tile is-child')
                  a(data-fancybox='gallery' href='/images/gallery/lilies-east.png')
                    img(src='/images/gallery/lilies-east-thumb.png')
                div(class='tile is-child')
                  a(data-fancybox='gallery' href='/images/gallery/woods-south.png')
                    img(src='/images/gallery/woods-south-thumb.png')
              div(class='tile is-4 is-vertical is-parent')
                div(class='tile is-child')
                  a(data-fancybox='gallery' href='/images/gallery/sunrise.png')
                    img(src='/images/gallery/sunrise-thumb.png')
                div(class='tile is-child')
                  a(data-fancybox='gallery' href='/images/gallery/foliage.png')
                    img(src='/images/gallery/foliage-thumb.png')
                div(class='tile is-child')
                  a(data-fancybox='gallery' href='/images/gallery/lilies-water.png')
                    img(src='/images/gallery/lilies-water-thumb.png')
              div(class='tile is-4 is-vertical is-parent')
                div(class='tile is-child')
                  a(data-fancybox='gallery' href='/images/gallery/lilies-park.png')
                    img(src='/images/gallery/lilies-park-thumb.png')
                div(class='tile is-child')
                  a(data-fancybox='gallery' href='/images/gallery/mist.png')
                    img(src='/images/gallery/mist-thumb.png')                  
                div(class='tile is-child')
                  a(data-fancybox='gallery' href='/images/gallery/autumn-dock.png')
                    img(src='/images/gallery/autumn-dock-thumb.png')
            div(class='tile is-ancestor')
              div(class='tile is-parent')
                div(class='tile is-child')
                  a(data-fancybox='gallery' href='/images/gallery/panoramic.png')
                    img(src='/images/gallery/panoramic-thumb.png')
    script(src='//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')