extends layout

block content
  section(class='section')
    div(class='container')
      div(class='columns')
        div(class='column')
          h1(class='title is-1') Get Involved
          h2(class='subtitle is-2') Issues in water quality and ecology
          p
            | Woods Lake confronts the same challenges shared by all urban lakes.
            | Since it is fed by groundwater runoff, it is vulnerable to pollutants such as
            | road salt, pesticides, and fertilizers. These contaminants can contribute to 
            a(href='//en.wikipedia.org/wiki/Eutrophication') eutrophication
            | . The Woods Lake Association 
            | observes water quality issues closely and seeks to build upon successful efforts in the recent past,
            | such as the establishment of a natural filtration system on the west side of the lake.
          p
            | Soon, we hope to list various initiatives that allow the community to help 
            | preserve the lake as a beautiful natural respite in the heart of the city.
        div(class='column')
          img(src='/images/lilies-2.png' alt='Lilies')