extends layout

block content
  section(class='hero is-fullheight-with-navbar is-info is-bold')
    div(class='hero-body woodslake-home')
      div(class='container')
          h1(class='title') Welcome to Woods Lake
          h2(class='subtitle') A kettle lake in the heart of Kalamazoo