extends layout

block content
  section(class='section')
    div(class='container')
      div(class='columns')
        div(class='column')
          h1(class='title is-1') Visit
          p
            | There are two public access points at Woods Lake: Kensington Park and Woods Lake Park.
            | Woods Lake Park is the largest, featuring a playground, a fishing dock, and bathrooms.
          div(id='mapid' class='map-container')
    link(rel='stylesheet', href='//unpkg.com/leaflet@1.6.0/dist/leaflet.css')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
    script(defer, src='/js/interactive-map.js')